html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
input
{
	outline:none;
}
button
{
	outline:none;
}
a:hover
{
	text-decoration:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.pade_none
{
	padding:0 !important;
}
section
{
	float:left;
	width:100%;
}
.header_outer
{
	float:left;
	width:100%;
	border-bottom:2px solid #f1f1f1;
}
.header_inner
{
	padding:27px 0 !important;
	float:left;
	width:100%;
}
.logo_outer {
	float: left;
	margin: 0 25px 0 0;
}
.navigation_outer {
	float: left;
	padding-top: 15px !important;
}
.navigation_outer ul
{
	margin:0;
	padding:0;
	list-style:none;
}
.navigation_outer li {
	font-size: 16.72px;
	color: #110d08;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	float: left;
	padding: 0 30px;
	font-weight: 500;
}
.navigation_outer li a
{
	color:#110d08;
	text-decoration:none;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.navigation_outer li a:hover
{
	color:#c8d41d;
}
.header_right {
	float: left;
	padding-top: 12px !important;
	width: 30%;
}
.search_header {
	float: left;
	margin: 0px 20px 0 0;
	width: 155px;
	position: relative;
	overflow: hidden;
	padding: 5px 0px;
}
.search_header i {
	font-size: 18px;
	cursor: pointer;
	color: #110d08;
	float: right;
}

.header_right ul {
	margin: 0;
	padding: 4px 0 0;
	list-style: none;
}
.header_right li {
	font-size: 16.72px;
	color: #110d08;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	float: left;
	padding: 0 19px;
	font-weight: 500;
}
.header_right li a
{
	color:#110d08;
	text-decoration:none;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.header_right li:last-child
{
	padding:0 0 0 30px;
}

.header_right li a:hover
{
	color:#c8d41d;
}

.navbar.navbar-inverse {
	background: none !important;
	border: none !important;
}
.navbar {
	min-height: 19px;
	margin-bottom: 0px;
}

.banner_outer {
	background: #fefefe url(../images/banner-bg.png) center 114px no-repeat;
	background-size: cover;
}
.banner_inner {
	padding: 50px 0 120px !important;
	text-align: center;
}
.banner_inner02
{
	width:857px;
	display:inline-block;
	border: 2px solid #efefef;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.banner_inner_top
{
	padding:7px 10px;
	float:left;
	width:100%;
	border-bottom: 1px solid #efefef;
}
.banner_inner_top ul {
	margin-top: 6px;
	float: left;
}
.banner_inner_top li
{
	width:16px;
	height:16px;
	border-radius:50%;
	margin:0 4px;
	float:left;
}
.color_one
{
	background:#ff5355;
}
.color_two
{
	background:#fcb616;
}
.color_three
{
	background:#16c82c;
}
.banner_inner_right {
	float: right;
	margin: 0 0 0 10px;
	background: #f8f9fb;
	width: 89.5%;
	height: 28px;
}
.monetising_out {
	padding: 50px 30px 20px;
	float: left;
	width: 100%;
}
.monetising_out h2 {
	font-size: 47.4px;
	color: #2E2B28;
	font-family: 'Conv_AvenirNextLTPro-Bold_0';
	margin: 0;
	line-height: 53px;
}
.monetising_inn {
	float: left;
	width: 100%;
	/* background: url(../images/banner-img.jpg) center top no-repeat; */
	text-align: center;
	padding-bottom: 20px;
	position:relative;
}
.monetising_inn a
{
	display:inline-block;
	font-size:20px;
	color:#6C6C6C;
	border: 2px solid #dedede;
	margin-top:238px;
	font-family: 'Conv_AVENIRNEXTLTPRO-CN_0';
	text-decoration:none;
}
.monetising_inn img
{
	width:100%;
}

.start_inner_right img
{
	width:100%;
}
.start_inner_left {
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
/* ----------14march2017(ms)--------------- */
.start_inner_right {
  float: right;
}
.start_inner_left {
  float: left;
}
/* ----------14march2017(ms) end--------------- */

.start_inner_left span {
	font-size: 20px;
	color: #c5d922;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	letter-spacing: 0px;
	padding-bottom: 20px;
	line-height: 20px;
	display: inline-block;
}
.start_inner_left h2 {
	font-size: 50px;
	color: #2E2B28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	line-height:55px;
	display:inline-block;
	margin:0;
	letter-spacing: 3px;
}
.start_inner_left a
{
	font-size:20px;
	color:#181119;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	display:inline-block;
	background:#ccd628 url(../images/earo.png) 150px center no-repeat;
	background-size:8px auto;
	padding:15px 52px 15px 38px;
	border-radius:30px;
	line-height:20px;
	text-decoration:none;
	margin-top:25px;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.start_inner_left a:hover
{
	background:#e3eb64 url(../images/earo.png) 160px center no-repeat;
	background-size:8px auto;
}
.we_offer_outer .we_offer_inner {
	padding: 118px 0 96px !important;
	position: static !important;
}
.we_offer_outer
{
	background:#fbfbfb;
	position:relative;
}
.we_offer_inner_left
{
}
.we_offer_inner_left h2 {
	font-size: 27px;
	color: #2e2b28;
	font-family: 'Conv_DINBold';
	line-height: 40px;
	margin: 0;
	position: relative;
	padding: 0 0 25px;
}
.we_offer_inner_left h2::before
{
	content:"";
	background:#c4d40f;
	width:60px;
	height:4px;
	position:absolute;
	bottom:0;
}
.we_offer_inner_left p {
	font-size: 20px;
	color: #45423d;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	line-height: 28px;
	margin: 0;
	padding: 40px 0 0px;
	font-weight: 400;
}

.we_offer_inner_left a
{
	font-size:20px;
	color:#181119;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	display:inline-block;
	background: url(../images/earo.png) 160px center no-repeat;
	background-size:8px auto;
	padding:15px 70px 15px 55px;
	border-radius:30px;
	line-height:20px;
	text-decoration:none;
	margin-top:28px;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	border: 2px solid #363634;
}
.we_offer_inner_left a:hover
{
	background:#fff url(../images/earo.png) 170px center no-repeat;
	background-size:8px auto;
}
.we_offer_inner_img img
{
	width:436px;
	height:auto;
}
.we_offer_inner_img {
	position: absolute;
	right: 0;
	top: 18%;
}
.benefits_outer
{
	background:url(../images/benifits-img.jpg) center top no-repeat;
	background-size: cover;
}

.benefits_inner {
	padding: 112px 70px !important;
	text-align: center;
}
.benefits_inner img
{
	width:509px;
}
.benefits_inner h2 {
  color: #ccd629;
  font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
  font-size: 45px;
  line-height: 34px;
  position:relative;
  padding: 0 0 0 30px;
  text-align: left;
  text-transform: uppercase;
}
.benefits_inner h2 samp {
  color: #fff;
  font-size: 45px;
  font-family:"Conv_AvenirNextLTPro-Regular";
  padding: 0;
}
.benefits_inner h2 span {
  color: #fff;
  display: inline-block;
  font-family: "Conv_DINBold";
  font-size: 29px;
  font-weight: 600;
  line-height: 25px;
  margin: 0;
  position: relative;
  vertical-align: top;
}
.benefits_inner h2:before
{
	content:"";
	background:#c4d40f;
	width:60px;top: 51px;
	height:4px;
	position:absolute;
	bottom:0;
}

.benefits_inner_viral {
	padding: 65px 0 0 !important;
	display: inline-block;
	width: 100%;
	float: none;
}
.benefits_inner_viral_img img
{
	width:auto !important;
}
.benefits_inner_viral_img
{
	display:table-cell;
	vertical-align:middle;
	height:83px;
}
.benefits_inner_viral01 {
	padding: 0 30px 0 40px !important;
	width: 100%;
	text-align: left;
}
.benefits_inner_viral_text
{
	padding:34px 0 0;
	float:left;
	width:100%;
}
.benefits_inner_viral_text h3
{
	font-size:20px;
	color:#fff;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	margin:0 0 10px;
}
.benefits_inner_viral_text p
{
	font-size:16px;
	color:#fff;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	margin:0;
	line-height:25px;
}
.pade_right
{
	padding:0 !important ;
}
.start_raising_outer
{
	background:#ccd628;
}
.start_raising_inner
{
	padding:46px 0 54px !important;
	text-align:center;
}
.start_raising_text
{
	display:inline-block;
	padding-right:75px;
}
.start_raising_text p {
	font-size: 20px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	letter-spacing: 0px;
	line-height: 20px;
	text-align: left;
	padding-bottom: 10px;
}
.start_raising_text h3 {
	font-size: 30px;
	color: #fff;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin: 0 0 10px;
	line-height: 30px;
	letter-spacing: 4px;
}

.start_now a {
	font-size: 20px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	display: inline-block;
	background: url(../images/earo2.png) 155px center no-repeat;
	background-size: 8px auto;
	padding: 13px 63px 13px 38px;
	border-radius: 30px;
	line-height: 20px;
	text-decoration: none;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
	border: 2px solid #fff;
}
.start_now a:hover
{
	background:#fff url(../images/earo.png) 160px center no-repeat;
	background-size:8px auto;
	color:#181119;
}
.start_now {
	display: inline-block;
	vertical-align:top;
	margin:18px 0 0;
}
.testmonial_inner {
	padding: 90px 0 170px !important;
	text-align: center;
}
.testmonial_img
{
	display:inline-block;
	width:100%;
	padding-bottom:49px;
}
.testmonial_inner span
{
	font-size:33px;
	color:#CCD629;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
}
.testmonial_inner span samp {
	color: #2e2b28;
	padding: 0;
	font-size: 33px;
}
.testmonial_inner p {
	font-size: 40px;
	color: #2e2b28;
	font-family: 'Conv_DINBold';
	margin: 25px 0 0;
	line-height: 45px;
	padding: 0 130px;
}
.testmonial_inner strong
{
	font-size:28px;
	color:#c2ce16;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	font-style:italic;
	margin-top:34px;
	display:inline-block;
}
.testmonial_slide
{
	display:inline-block;
	width:100%;
	margin:30px 0 0;
}
.testmonial_slide a
{
	margin:0 4px;
}
.testmonial_outer
{
	background:#fafafa;
}
.our_client_inner
{
	padding:96px 0 46px !important;
	text-align:center;
}
.our_client_inner h2
{
	font-size:32px;
	color:#2E2B28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin:0;
}
.our_client_inner02
{
	padding:53px 0 0 !important;
}
our_client_inner02 ul
{
	margin:0;
	padding:0;
}
.our_client_inner02 li
{
	display:inline-block;
	padding: 0 25px 50px;	
}
.our_client_inner02 li a
{
	display:table-cell;
	vertical-align:middle;
	height:90px;
}
footer
{
	float:left;
	width:100%;
	background:#2f2b28;
}
.footer_inner
{
	padding:60px 0 !important;
}
.footer_logo img
{
	width:100%;
}
.footer_logo {
 padding: 0 !important;
 width: 370px;
}
.footer_right {
	padding: 19px 0 0 50px !important;
}
.footer_right ul
{
	margin:0;
	padding:0;
	text-decoration:none;
}
.footer_right li {
	font-size: 14px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	float: left;
	padding: 0 11px;
	font-weight: 600;
}
.footer_right li:last-child
{
	float:right;
}
.footer_right li a
{
	color:#fff;
	text-decoration:none;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.footer_right li a:hover
{
	color:#c8d41d;
}

/*prices_css*/
.prices_outer
{
}
.prices_outer h2
{
	font-size:50px;
	color:#2E2B28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin:0 0 20px;
	line-height:50px;
	text-align:left;
}
.prices_outer h2 span
{
	color:#ccd629;
}
.prices_outer p {
	font-size: 19px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	margin: 0 0 20px;
	line-height: 25px;
	text-align: left;
	font-weight: 400;
	padding: 0 50px 0 0;
}
.freemium_outer
{
	padding:0 10px !important;
}
.freemium_inner
{
	width:100%;
	float:left;
	border: 2px solid #6c6c6c;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	min-height: 474px;
	cursor:pointer;
}
.freemium_inner .freemium_inner01
{
	background:#6c6c6c;
}
.freemium_inner01
{
	padding:17px 0;
	width:100%;
	text-align:center;
}
.freemium_inner01 h3 {
	font-size: 21px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	margin: 0;
}
.freemium_inner01 h4 {
	font-size: 19px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	margin: 7px 0 0;
}
.freemium_inner_white {
	background: #fff;
	float: left;
	width: 100%;
	padding: 20px 22px;
}
.freemium_inner_white p {
	font-size: 14px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	margin: 7px 0 0;
	line-height: 20px;
	text-align: center;
}
.freemium_inner_white h4 {
	font-size: 50px;
	color: #676767;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin: 88px 0 0;
	text-transform: uppercase;
}
.purchase {
	float: left;
	width: 100%;
	margin-top: 0px;
	background: #fff;
	padding-top: 45px;
}
.purchase a
{
	font-size:20px;
	color:#fff;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	display:inline-block;
	background:#7a7979 url(../images/earo2.png) 145px center no-repeat;
	background-size:8px auto;
	padding:13px 63px 13px 38px;
	border-radius:30px;
	line-height:20px;
	text-decoration:none;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	border: 2px solid #fff;
}
.purchase a:hover
{
	background:#e3ed38 url(../images/earo2.png) 155px center no-repeat;
	background-size:8px auto;
	color:#fff;
}
.prices_inn
{
	margin:170px 0 0;
	float:left;
	width:100%;
}
.freemium_inner.freemium_inner_two
{
	width:100%;
	float:left;
	border: 2px solid #6c6c6c;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	cursor:pointer;
}
.freemium_inner.freemium_inner_two .freemium_inner01
{
	background:#6c6c6c;
}
.registration_fee {
	float: left;
	width: 100%;
	background: #fff;
	position: relative;
}
.registration_fee_left {
	float: left;
	width: 100%;
}
.registration_fee_left strong
{
	font-size:22px;
	color:#676767;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin:0;
	padding:14px 0 0;
	text-align:center;
	display:inline-block;
	width:100%;
}
.registration_fee_left samp {
	font-size: 11px;
	color: #676767;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	margin: 0;
	padding: 5px 0 10px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.registration_fee_center_left {
	font-size: 20px;
	color: #676767;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	width: 44%;
	display: inline-block;
}
.registration_fee_center_ce {
	width: auto;
	display: inline-block;
	position: absolute;
	left: 46%;
	top: 44%;
	z-index:1;
}
.registration_fee_center_ce span {
	font-size: 11px;
	color: #676767;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	background: #e6e6e6;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	padding: 3px 0 0;
}
.purchase.color_change {
	padding-bottom: 18px;
	padding-top: 16px;
}
.purchase.color_change02 {
	padding-bottom: 18px;
	padding-top: 16px;
}
.purchase.color_change a
{
	background-color:#6c6c6c;
}
.purchase.color_change a:hover
{
	background-color:#7a7979;
}
.purchase.color_change02 a
{
	background-color:#2e2b28;
}
.purchase.color_change02 a:hover
{
	background-color:#3d3c3a;
}

.freemium_inner.freemium_inner_three
{
	width:100%;
	float:left;
	border: 2px solid #2e2b28;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	cursor:pointer;
}
.freemium_inner.freemium_inner_three .freemium_inner01
{
	background:#2e2b28;
}
.single_outer
{
	padding:0 0 0;
}
.single_one {
	width: 33%;
	border-bottom: 2px solid #f2f2f2;
}
.single_two {
	width: 17%;
	font-size: 15px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	background: #6c6c6c;
	text-align: center;
	padding: 17px 0;
	cursor: pointer;
}
.single_two span
{
	font-family: 'Conv_AvenirNextLTPro-Regular';
}
.single_two.funder
{
	background:#6c6c6c;
}
.single_two.funder01
{
	background:#2e2b28;
}
.single_three {
	width: 6.6%;
	border-bottom: 2px solid #f2f2f2;
}
.single_four {
	width: 33%;
	font-size: 18px;
	color: #221f1c;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	text-align: right;
}
.single_five
{
	width:17%;
	font-size:17px;
	padding:17px 0;
	text-align:center;
	border-right: 2px solid #cdcdcd;
}
.single_five .fa.fa-check {
	color: #6b6b6b;
	font-size:25px;
}
.single_five .fa.fa-times
{
	color:#d1d1d1;
}
.single_five.single_five02 .fa.fa-check {
	color: #6b6b6b;
	font-size:25px;
}
.single_five.single_five03 .fa.fa-check {
	color: #6b6b6b;
	font-size:25px;
}
.single_five.single_five03
{
	border-right:none;
}
.bg_color01 
{
	background:#f6f6f6;
}
.freemium_inner.freemium_inner_three .freemium_inner_white {
	background: #fff;
	float: left;
	width: 100%;
	padding: 20px 8px;
}
/*prices_css-end*/

/*dasboard*/

.header_outer_dasboard_out
{
	background:#3e3a37;
	float:left;
	width:100%;
	position:relative;
}
.dasboard_inner
{
padding:0px 0 0px !important;
}
.logo_dasboard
{
	padding:20px 0 !important;
}
.logo_dasboard img {
	width: 121px;
	height:auto;
}
.right_dasboard {
	background: #2e2b28;
	padding: 27px 0 27px 70px !important;
	position: relative;
	z-index: 9;
}
.right_dasboard span {
	float: left;
	font-size: 20px;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	color: #fff;
	line-height: 20px;
	padding: 4px 0 0;
}
.header_outer_dasboard_out::after {
	content: "";
	position: absolute;
	right: 0;
	width: 22%;
	height: 78px;
	background: #2e2b28;
}
.account_outer
{
	float:right;
	width:auto;
}
.account_inner a {
	font-size: 16px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	margin: 0px 0 0 0;
	vertical-align: middle;
	line-height: 26px;
	position: relative;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
}
.account_inner a::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: url(../images/Chevron_small_right-Copy.png) right center no-repeat;
	right: -24px;
	top: 4px;
}
.account_inner a:hover
{
	text-decoration:none;
	color:#c8d229;
}
.account_inner a span
{
	padding:0 15px 0 0;
}
.account_inner {
	float: left;
	padding: 0 83px 0 0;
	position:relative;
}
.sigh_out
{
	float:left;
	width:auto;
}
.sigh_out a {
	font-size: 16px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	margin: 0px 0 0 0;
	vertical-align: middle;
	line-height: 26px;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.sigh_out a:hover
{
	text-decoration:none;
	color:#c8d229;
}
.analytics_inner
{
	padding:38px 0 0 !important;
	text-align:center;
}
.analytics_inner ul
{
	list-style:none;
	margin:0;
	padding:0;
}
.analytics_inner li {
	display: inline-block;
	font-size: 20px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	margin: 0 7px;
	font-weight: 600;width: 278px;
	position: relative;
}
.analytics_inner li:last-child {
  margin-right: 0;
}
.analytics_inner li:first-child {
  margin-left: 0;
}
.analytics_inner li a {
 color: #2e2b28;
 text-align:center;
 padding: 19px 0;
 display: block;
 border: 2px solid #161310;
 border-radius: 40px;
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
}
.analytics_inner li.last-child::before {
	content: "";
	position: absolute;
	background: url(../images/Chevron_small_right-2.png) right center no-repeat;
	width: 15px;
	height: 12px;
	right: 67px;
	top: 24px;
}
.analytics_inner li a:hover
{
	text-decoration:none;
	background:#ccd629;
	border-color:#ccd629;
	border-radius:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
}
.analytics_outer
{
	background:url(../images/banner-bg02.png) center top no-repeat;
	background-size: 100% auto;
}
.overview_outer
{
	padding:45px 0 0 !important; 
}
.overview_outer h2 {
	font-size: 24px;
	color: #2b2e28;
	margin: 0 0 19px;
	font-family: 'Conv_AvenirNextLTPro-Bold_0';
}
.overview_inn01
{
	padding:0 6px !important;
}
.overview_inn
{
	float:left;
	width:100%;
	border: 2px dashed #d3d3d3;
	text-align:center;
	position:relative;
}
.overview_inn span {
	font-size: 30px;
	color: #e4e4e4;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	border: 4px solid #e4e4e4;
	line-height: 33px;
	width: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	float: right;
	text-align: center;
	margin:8px 8px 0 0;
	position:absolute;
	right:0;
}
.overview_inn h3 {
	font-size: 30px;
	color: #f0f0f0;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	text-align: center;
	letter-spacing: 2px;
	display:table-cell;
	vertical-align:middle;
	height:185px;
}
.test_center_over
{
	display:inline-block;
	width:auto;
}
.campaigns_outer
{
	margin:30px 0 0 !important;
	border: 2px dashed #d3d3d3;
}
.campaigns_one {
	font-size: 20px;
	color: #2a2723;
	font-family: 'Conv_AvenirNextLTPro-Regular';

	text-align: center;
	background: #f4f4f4;
	padding: 15px 0;
	border-right: 2px dashed #d3d3d3;
	font-weight: 700;
	word-break: break-all;

	vertical-align: middle;
}
.campaigns_one.campaigns_two {
	width: 15%;
	border-right: none;
	word-break: break-all;
}
.campaigns_one.campaigns_three {
	width: 14%;
	border-right: none;
	word-break: break-all;
}
.campaigns_one.campaigns_four {
	width: 15%;
	border-right: none;
	word-break: break-all;
}
.campaigns_one.campaigns_five
{
	width:15%;
	word-break: break-all;
}
.campaigns_one.campaigns_six {
	width: 20%;
	border-right: none;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	word-break: break-all;
}

.count_one
{
	font-size: 20px;
	color: #cad521;
	font-family: 'Conv_AvenirNextLTPro-Regular';

	text-align: center;
	padding: 24px 0 0;
	border-right: 2px dashed #d3d3d3;

	word-break: break-all;

}
.count_one.color-two {
	font-size: 20px;
	color: #2b2e28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	text-align: center;
	padding: 18px 0 0;
	border-right: 2px dashed #d3d3d3;
}
.count_one.color-three
{
	font-size: 20px;
	color: #9c9c9c;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	text-align: center;
	padding: 18px 0 26px;
	border-right: 2px dashed #d3d3d3;


}
.count_one.campaigns_two {
	width: 15%;
	border-right: none;
	word-break: break-all;
}
.count_one.campaigns_three {
	width: 14%;
	border-right: none;
	word-break: break-all;
}
.count_one.campaigns_four {
	width: 15%;
	border-right: none;
	word-break: break-all;
}
.count_one.campaigns_five
{
	width:15%;
	word-break: break-all;
}
.count_one.campaigns_six {
	width: 20%;
	border-right: none;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	word-break: break-all;
}
.campaign_analytics {
	padding: 40px 0 50px !important;
}
.campaign_analytics .overview_inn01
{
	padding:0 10px 20px !important;
	
}
.dahboard_footer
{
	background:#fff;
	border-top: 2px solid #ededed;
}
.dahboard_footer .footer_logo
{
	padding:0 !important;
	width:375px;
}
.dahboard_footer .footer_right li:last-child {
	float: right;
	color: #2e2b28;
}
.dahboard_footer .footer_inner {
	padding: 40px 0 !important;
}

/*dasboard-end*/

/*setting-page*/
.setting_outer
{
}
.setting_left {
	padding: 47px 110px 39px 0 !important;
	border-right: 2px solid #f1f1f1;
}
.setting_left h2
{
	font-size:30px;
	color:#2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin:0;
	position:relative;
	padding-bottom:21px;
}
.setting_left p strong
{
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
}
.setting_left h2 span {
	font-size: 21px;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	font-weight: 600;
	display: inline-block;
	padding: 0 0 0 30px;
}
.setting_left h2::before
{
	content:"";
	position:absolute;
	height:3px;
	width:62px;
	background:#c9d41e;
	bottom:0;
}
.setting_left p {
	font-size: 18px;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	padding: 27px 0 10px;
}
.upload_logo
{
	float:left;
	width:100%;
}
.upload_logo a
{
	font-size:20px;
	color:#cdd72e;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	text-align:center;
	border: 2px dashed #c9d31a;
	border-radius:30px;
	padding:15px 88px 15px 100px;
	display:inline-block;
	margin:14px 0 0;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
} 
samp {
	font-size: 19px;
	padding: 0 16px 0 0;
}
.upload_logo a:hover
{
	background:#cdd72e;
	border: 2px solid #c9d31a;
	color:#fff;
	text-decoration:none;
}
.upload_logo img {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 31px;
}
.description_outer
{
	float:left;
	width:100%;
	padding-top:17px;
}
.desc_inner {
  display: inline-block;
  position: relative;
  width: 100%;
}
.wrd_count {
  bottom: 4px;
  font-family: "Conv_AvenirNextLTPro-Regular";
  font-size: 12px;
  position: absolute;
  right: 25px;
}
.description_outer label
{
	font-size:18px;
	color:#2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	padding-bottom:12px;
	float:left;
	width:100%;
}
.description_outer input {
	height: 55px;
	border: 2px solid #1e1a17;
	border-radius: 4px;
	width: 100%;
	padding: 0 26px;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 16px;
	color: #2e2b28;
	outline:none;
}
.select_colour
{
	float:left;
	width:100%;
	margin-top:36px;
}
.select_colours_inner
{
	float:left;
	width:100%;
	margin-bottom:12px;
}
.select_colours_inner select {
	font-size: 16px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	height: 55px;
	float: left;
	width: 88%;
	border: 2px solid #1e1a17;
	border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/setting-sec.png) right center no-repeat;
	padding: 0 26px;
	outline: none;
}
.select_colours_inner span
{
	height:55px;
	width:12%;
	border-right: 2px solid #1e1a17;
	border-top: 2px solid #1e1a17;
	border-bottom: 2px solid #1e1a17;
	border-radius:0px 4px 4px 0px;
	-webkit-border-radius:0px 4px 4px 0px;
	-moz-border-radius:0px 4px 4px 0px;
	-o-border-radius:0px 4px 4px 0px;
	float:right;
}
.color_class_select
{
	background:#2e2b28;
}
.color_class_select01
{
	background:#ccd629;
}
.button_nxt
{
	float:left;
	width:100%;
	margin-top:30px;
}
.button_nxt input
{
	float:left;
	width:auto !important;
	border:none;
	font-size:19px;
	color:#2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	height:50px;
	padding:0 80px 0 60px;
	border-radius:40px;
	background:#ccd629 url(../images/earo.png) 120px center no-repeat;
	background-size: 10px auto;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.button_nxt input:hover
{
	background:#ccd629 url(../images/earo.png) 130px center no-repeat;
	background-size: 10px auto;
}
.button_nxt span
{
	float:left;
	font-size:14px;
	color:#b2b1b0;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	padding:16px 0 0 40px;
}

.setting_right
{
	/*background:url(../images/setting-bg.png) center top no-repeat;*/
	background-size: 100% auto;
	padding-top:33px !important;
}
.mobile_destop_outer {
	float: right;
	width: auto;
	border: 1px solid #16120f;
	padding: 4px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
.mobile_side
{
}
.setting_right a {
	float: left;
	font-size: 11px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	text-decoration: none;
	font-weight: 600;
	padding: 8px 10px;
	margin: 0 2px 0 0;
}
.mobile_side
{
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
.setting_right_img {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	padding: 0 0 0 40px;
}
.save_and_proceed_out
{
}
.save_and_proceed_left
{
	text-align:right;
	background:#2e2b28;
	padding:30px 86px 30px 0 !important;
	color:#7b7976;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size:17px;
}
.save_and_proceed_right
{
	background:#ccd629;
	text-align:left;
	padding:30px 0px 30px 70px !important;
	color:#2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size:17px;
	font-weight:600;
}
.save_and_proceed_right span {
	background: url(../images/earo.png) right center no-repeat;
	background-size: 7px auto;
	padding: 0 24px 0 0px;
}
.footer_right span {
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	/* font-weight: 600; */
	float: left;
	width: 64%;
	text-align: right;
	background: url(../images/earo.png) right center no-repeat;
	background-size: 6px auto;
	padding: 0 14px 0 0px;
	font-size: 14px;
	background-position: right center;
}
/*setting-page-end*/

/*campaigns-page*/

.upload_logo.campaign_button a
{
	background:#2e2b28 url(../images/campaign.png) 55px center no-repeat;
	font-size:16px;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	border:none;
	color:#fff;
	padding:15px 70px 15px 90px;
}
.campaign_level_outer
{
	float:left;
	width:100%;
}
.campaign_level_inner 
{
	float:left;
	width:100%;
	margin-top:22px;
}
.campaign_level_inner h3 {
	font-size: 17px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin: 0 0 10px;
}
.campaign_inn
{
	float:left;
	width:100%;
	border: 2px solid #34322f;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.campaign_inn_left
{
	width:99px;
	float:left;
	background:#21201f;
	text-align:center;
}
.campaign_inn_left img {
	padding: 0;
	width: 100%;
}
.campaign_inn_left_center
{
	display:inline-block;
	width:auto;
}
.campaign_inn_left_ver
{
	display:table-cell;
	vertical-align:middle;
	height:107px;
}
.campaign_inn_center {
	float: left;
	width: 297px;
	padding: 15px 20px 0;
}
.campaign_inn_center h4 {
	font-size: 17px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin: 0;
	line-height: 19px;
}
.campaign_inn_center p {
	font-size: 14px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	margin: 0;
	padding: 10px 0 0;
	line-height: normal;
}
.campaign_inn_right
{
	float:right;
	width:73px;
}
.campaign_inn_right01
{
	float:left;
	width:100%;
	background:#ccd629;
	text-align:center;
	font-size:20px;
	color:#fff;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	line-height:37px;
}
.campaign_inn_right02 {
	float: left;
	width: 100%;
	background: #ebebeb;
	text-align: center;
	font-size: 11px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	line-height: 36px;
}
.campaign_inn_right03 {
	float: left;
	width: 100%;
	background: #2e2b28;
	text-align: center;
	font-size: 12px;
	color: #fff;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	line-height: 36px;
	cursor:pointer;
}
.setting_left.campaigns_top_out {
	padding-right: 90px !important;
	height: 870px;
	overflow: auto;
}
.campaign_inn_left.change_color
{
	background:#e3e3e3;
}
.campaign_inn_center img {
	width: 80%;
	padding: 0;
}
.upload_img_out .campaign_inn_center h4 {
	color: #e8e8e8;
}
.upload_img_out .campaign_inn_center p {
	color: #e8e8e8;
}
.upload_img_out .campaign_inn_right01 {
	background: #ebebeb;
	color: #fff;
}
.upload_img_out .campaign_inn_right03 {
	background: #e3e3e3;
	color: #fff;
}
.upload_img_out .campaign_inn_right02 {
	color: #fff;
}
.next_back_button {
	float: left;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
}
.campaigns_top_out .next_back_button a {
	font-size: 20px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	border: 2px solid #221f1c;
	border-radius: 40px;
	padding: 15px 42px 15px 40px;
	background: none;
	margin: 0 14px 0 0;
	vertical-align: top;
}
.fa.fa-chevron-left {
	float: left;
	font-size: 17px;
	padding: 2px 17px 0 0;
}
.fa.fa-chevron-right {
	float: right;
	padding: 2px 0 0 17px;
	font-size: 17px;
}
.campaigns_top_out .next_back_button a:hover
{
	background:#ccd629;
	border: 2px solid #ccd629;
}
.campaigns_top_out .next_back_button .active_next
{
	background:#ccd629;
	border: 2px solid #ccd629;
}
/*campaigns-page-end*/

/*login-page*/
.form-out-in
{
	padding:100px 25px 136px 25px !important;
}
.form-out-in p {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 16px;
	color: #2b2927;
	padding: 0 25% 0 0;
	line-height: 24px;
}
.form-out-in p a
{
text-decoration:underline;
color:#2b2927;
font-weight: 700;
}
.form-out-in p span
{
font-style:italic;
font-weight: 700;
}
.form-out
{
	position:relative;
}
.form-out samp {
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	font-size: 19px;
	color: #2b2927;
	width: 100%;
	padding: 48px 0 15px 0 !important;
	display: block;
}
.form-out input
{
font-family: 'Conv_AvenirNextLTPro-Regular';
font-weight: 600;
font-size:16px;
color:#d2d2d2;
width:100%;
border:2px solid #2e2b28;
border-radius:3px;
padding:15px 0 15px 20px;
outline:none;
}
.form-out span a {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 16px;
	display: block;
	text-decoration: underline;
	padding: 30px 0 42px 0;
	color:#2b2927;
}
.login-btn {
	border-radius: 70px;
	background-color: #ccd629;
	font-family: 'Conv_AvenirNextLTPro-Bold_0';
	font-size: 20px;
	border: none;
	width: 100%;
	text-align: center;
	line-height: 50px;
	color: #2d2928;
	outline:none;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.login-btn:hover
{
	background:#afb72a;
	color:#fff;
}
.login-btn:hover i
{
	color:#fff;
}
.login-btn i
{
font-size:21px;
color:#2d2928;
padding:0 0 0 10px !important;
transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.form-or {
	padding: 179px 0 0 0;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 20px;
	text-align: center;
}
.facebk-out
{
padding:118px 0 0 0 !important;
}

.fcb-bt
{
border-radius:70px;
background:#3b5998;
font-family: 'Conv_AvenirNextLTPro-Bold_0';
font-weight: 700;
font-size:20px;
border:none;
width:100%;
text-align:center;
line-height:51px;
color:#fff;
margin:0 0 35px 0;
position:relative;
cursor:pointer;
}
.fcb-bt a
{
color:#fff;
text-decoration:none !important;
}
.fcb-bt i
{
font-size:21px;
color:#fff;
background-color:#334e86;
padding:0 0 0 10px !important;
position:absolute;
left:0;
border-radius:70px;
line-height:50px;
width:68px;
text-align:center;
}
.fcb-g-btn {
	border-radius: 70px;
	background: none;
	font-family: 'Conv_AvenirNextLTPro-Bold_0';
	font-size: 20px;
	border: #ccd629 2px solid;
	width: 100%;
	text-align: center;
	line-height: 50px;
	color: #ccd629;
	outline:none;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.fcb-g-btn:hover
{
	background:#ccd629;
	color:#fff;
}
.fcb-g-btn:hover i
{
	color:#fff;
}
.fcb-g-btn i
{
font-size:21px;
color:#ccd629;
padding:0 0 0 10px !important;
}
.out-copyright
{
background-color:#ccd629;
float:left;
width:100%;
text-align:center;
}
.out-copyright p {
	line-height: 30px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	font-weight: normal;
	font-size: 21px;
}
.out-copyright p a
{
border-radius:70px;
background:#fff;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size:20px;
padding:7px 27px;
text-align:center;
color:#494643;
margin:0  0 0 40px;
text-decoration:none !important;
}

/*login-page*/

/*campaigns-page-step2*/

.campaigns_top_out h5 {
	font-size: 17px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin: 0 0 10px;
}
.step_two_outer
{
	float:left;
	width:100%;
	border: 2px solid #1c1815;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.step_two_inner {
	float: left;
	width: 100%;
	padding: 15px 15px 0;
}
.step_two_inner_img 
{
	width:94px;
	float:left;
}
.step_two_inner_img img {
	width: 100%;
	padding: 0;
}
.replace_image {
	float: right;
	width: 300px;
	margin:15px 0 0;
}
.replace_image a {
	font-size: 20px !important;
	color: #2e2b28 !important;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	border: 2px dashed #a9a9a9 !important;
	padding: 12px 60px 12px 54px !important;
	line-height: 20px;
	display: inline-block;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	background:none !important;
	margin:0;
}
.fa.fa-camera {
	float: left;
	padding: 0 11px 0 0;
	font-size: 19px;
}
.replace_image a:hover
{
	text-decoration:none;
	background:#c1ca2a !important;
	color:#fff !important;
	border: 2px  dashed #c1ca2a !important;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
}
.campaign_title
{
	float:left;
	width:100%;
	margin-top:18px;
}
.campaign_title_inner
{
	float:left;
	width:100%;
}
.campaign_title_inn
{
	float:left;
	width:100%;
}
.campaign_title_inn_left
{
	width:245px;
	float:left;
}

.campaign_title_inn_left label {
	font-size: 17px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	padding-bottom: 12px;
	float: left;
	width: 100%;
}
.campaign_title_inn_left input
{
	border: 2px solid #383532;
	height:46px;
	font-size:15px;
	color:#2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	padding:0 25px;
	float:left;
	width:100%;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	outline: none;
} 
.campaign_title_inn_right
{
	float:right;
	width:155px;
}
.campaign_title_inn_right label {
	font-size: 17px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	padding-bottom: 12px;
	float: left;
	width: 100%;
}
.donation_inner span {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.donation_inner strong {
	display: inline-block;
	font-size: 22px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	padding: 0px 10px;
}
.donation_inner samp
{
	display:inline-block;
	padding:0;
	vertical-align: top;
	cursor: pointer;
}
.donation_inner span i {
	border: 1px solid #fb4545;
	border-radius: 50%;
	width: 20px;
	font-size: 14px;
	line-height: 19px;
	display: inline-block;
	padding: 1px 0 0;
	color:#fb4545;
}
.donation_inner samp i {
	border: 1px solid #1fc838;
	border-radius: 50%;
	width: 20px;
	font-size: 14px;
	line-height: 19px;
	display: inline-block;
	padding: 1px 0 0;
	color:#1fc838;
}
.donation_inner {
	display: inline-block;
	width: 100%;
	border: 2px solid #383532;
	height: 46px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	text-align: center;
	padding: 10px 0 0;
}
.donation
{
	float:left;
	width:100%;
	padding-top:20px;
}
.donation label {
	font-size: 17px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	padding-bottom: 10px;
	float: left;
	width: 100%;
}
.donation textarea {
	border: 2px solid #383532;
	height: 47px;
	font-size: 15px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	padding: 14px 25px;
	float: left;
	width: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	resize: none;
	outline: none;
}
.radio_button
{
	float:left;
	width:100%;
	margin-top:23px;
} 
input[type="radio"] {
    display:none;
}

input[type="radio"] + label span.orange{
    display:inline-block;
    width:28px;
    height:24px;
    margin:1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/radio-button2.png) left top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span.orange{
    background:url(../images/radio-button.png) left top no-repeat;
}
.radio_button label {
	font-size: 14px;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-weight: 500;
}
.save_button_out {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.save_button
{
	float:left;
	width:50%;
	background:#f8f8f8;
	padding:15px 0;
	text-align:center;
}
.save_button a
{
	display:inline-block;
	font-size:20px;
	color:#2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	background:#ccd629 !important;
	padding:15px 35px !important;
	line-height:22px;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	background-image:none !important;
	margin:0 !important;
}
.save_button a:hover
{
	background:#bcc706 !important;
	color:#fff !important;
}
.save_button.delete_button
{
	background:#fff;
}
.save_button.delete_button a
{
	background:#fb5656 !important;
	color:#fff !important;
}
.save_button.delete_button a:hover
{
	background:#f02323 !important;
}
.save_and_proceed_right.save_and_proceed_step02
{
	background:#dfdfdf;
}
.script_type_text {
	float: left;
	width: 100%;
	padding: 0px 15px 0px;
}
.delete_right
{
	float:right;
	width:88px;
	font-size:20px;
	color:#fb5656;
	background:#fff !important;
	text-align:center;
	font-family: 'Conv_AVENIRNEXTLTPRO-CN_0';
	font-weight:600;
	border-radius:30px;
}
.delete_right a {
	color: #fb5656 !important;
	padding: 5px 0 !important;
	display: block;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	font-size: 14px !important;
	line-height: normal;
	background:none !important;
	margin:0 !important;
}
.delete_right .fa.fa-times {
	font-size: 16px;
	padding: 1px 0px 0px 0;
}
/*campaigns-page-step2-end*/
/* ===========================MONTHLY SUPPORT PAGE START=============================== */

.monthly-support-out
{
	background:#ffffff;
	border-top:1px solid #e0e0e0;
}
.monthly-support-out .footer_right li a {
  color: #2e2b28;
}
.monthly-support-left {
	float: right;
	width: 460px;
	margin: 0 100px 0 0;
	padding: 70px 0 30px 0 !important;
}
.monthly-support-left h2 {
	color: #2e2b28;
	font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
	font-size: 33px;
	line-height: 35px;
	margin: 0 0 30px;
	padding: 0 0 30px;
	position: relative;
}
.monthly-support-left h2::before {
	background: #c4d40f;
	bottom: 0;
	content: "";
	height: 3px;
	position: absolute;
	width: 62px;
}
.monthly-support-left p {
	color: #595654;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	font-size: 17px;
	line-height: 25px;
	margin: 0;
	text-align: left;
}
.monthly-support-left ul {
  float: left;
  list-style: outside none none;
  margin: 40px 0 30px;
  padding: 0;
}
.monthly-support-left li {
	border: 2px solid #2e2b28;
	border-radius: 5px;
	color: #2e2b28;
	float: left;
	font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
	font-size: 25px;
	margin-right: 10px;
	padding: 0px 0 !important;
	text-align: center;
	width: 68px;
	display: table;
}
.monthly-support-left li span {
  display: table-cell;
  float: none;
  height: 48px;
  vertical-align: middle;
}
.monthly-support-left li:last-child
{
	margin-right:0px;
}
.monthly-support-left li samp {
 color: #2e2b28;
 float: left;
 font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
 font-size: 14px;
 line-height: 12px;
 text-transform: capitalize;
 text-align: center;
 width: 100%;
 padding: 0;
}
.slect-color {
	border: 2px solid #ccd629 !important;
	color: #ccd629 !important;
}

.monthly-form-main
{
	float:left;
	width:100%;
	text-align:left;
}
.monthly-form-main label {
	color: #595654;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	text-align: left;
	text-transform: capitalize;
	width: 100%;
	font-weight: 600;
	position:relative;
}

.monthly-form-field2 {
	color: #d2d2d2;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 18px;
	line-height: 25px;
	margin: 15px 0 25px;box-shadow: none;
	text-align: left;
	text-transform: capitalize;
	border: 2px solid #110d0a;
	border-radius: 4px;
	width: 100%;
	padding: 0px 30px !important;
	outline: none;
	line-height: 46px;
}
.agree-out2
{
	float:left;
	width:100%;
}

.agree-slect3 {
  float: left;
  margin: 6px 10px 0 0 !important;
  width: auto;
}
.monthly-support-outer .agree-out2 label {
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 15px;
	line-height: 25px;
	margin: 0px;
	text-align: left;
	text-transform: capitalize;
}
.monthly-support-outer .agree-out2 label strong {
	font-weight: 600;
	font-style: italic;
}

.agree-slect3
{
	float:left;
	width:auto;
	margin-right:10px;
}
.monthly_samp {
  display: inline-block;
  padding: 0;
  position: relative;
  width: 100%;
}
.monthly_samp .show {
  font-size: 14px;
  position: absolute;font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
  right: 13px;
  top: 53px;
}
.submit-agree-button {
	border: 0 none;
	border-radius: 40px;
	float: left;
	font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
	font-size: 20px;
	margin: 30px 0 0;
	padding: 16px 20px;
	text-transform: uppercase;
	transition: all 1s ease 0s;
	width: 100%;
	background-color:#ccd628;
	background-image: url(../images/earo.png);
	background-position: 320px center;
	background-size: 10px auto;
	background-repeat:no-repeat;
}
.submit-agree-button:hover{
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	background-color:#e3eb64;
	background-image: url(../images/earo.png) no-repeat;
	background-position: 330px center;
	background-size: 10px auto;
}
.no-thanks3 {
  color: #2e2b28;
  float: left;
  font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
  font-size: 12px;
  margin: 20px 0 0;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}
.no-thanks3 a
{
	text-decoration:none;
	color: #2e2b28;
}
.no-thanks3 a:hover
{
	color:#ccd629;
}

.no-thanks3 a:hover .times04
{
	color:#ccd629 !important;
}

.times04 {
  color: #2e2b28 !important;
  font-size: 13px !important;
  margin: 0 0 0 5px;
}
.monthly-support-right
{
	
}
.monthly-support-right img
{
	max-width:100%;
}
/* ===========================MONTHLY SUPPORT PAGE END=============================== */



/* ===========================GIFT PAGE START=============================== */
.gift-add-out{
	
}
.gift-form04-iner {
  float: left;
  margin: 0 20px 0 0;
  width: 47%;
}
.gift-form04-iner:last-child
{
	margin:0px;
}
.gift-add-out .monthly-support-left p {
 margin:0 0 30px  0;
}
.slect-gender-out {
	background: url(../images/slect-bg2.png) 185px 21px no-repeat;
	border: 2px solid #110d0a;
	border-radius: 4px;
	color: #d2d2d2;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 18px;
	padding: 13px 30px !important;
	width: 100%;
	margin: 15px 0 25px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline:none;
}

.gift-add-submit-agree-button {
  background: #ccd628 url(../images/earo.png) no-repeat scroll 375px center / 10px auto;
  border: 0 none;
  border-radius: 40px;
  float: left;
  font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
  font-size: 21px;
  margin: 30px 0 0;
  padding: 15px 20px;
  text-transform: uppercase;
  transition: all 1s ease 0s;
  width: 100%;
}
.gift-add-submit-agree-button:hover {
	background: #e3eb64 url(../images/earo.png) no-repeat scroll 360px center / 10px auto;
	transition: all 1s ease 0s;
}


/* ===========================GIFT PAGE END=============================== */


/* ===========================Communications PAGE start============================ */
.Communications-outrt .gift-add-submit-agree-button {
  background: #ccd628 url("../images/earo.png") no-repeat scroll 350px center / 10px auto;
}
.Communications-outrt .gift-add-submit-agree-button:hover
{
	 background: #e3eb64 url("../images/earo.png") no-repeat scroll 360px center / 10px auto;
}

.Communications-section2
{
	float:left;
	width:100%;
}
.comnic-leftpart {
  border: 2px solid #2e2b27;
  border-radius: 50%;
  display: table;
  float: left;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
  width: 75px;
}
.Communications-section2  a 
{
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}

.Communications-section2  a:hover .comnic-leftpart
{
	 border:2px solid #ccd628;
}

.Communications-section2  a:hover .envelope03,.mobile05 
{
	 color:#ccd628 !important;
}
.Communications-section2  a:hover .mobile05 
{
	 color:#ccd628 !important;
}

.Communications-section2  a:hover .email-comnic-out3 h4
{
	 color:#ccd628 ;
}


.email-comnic-out3 {
  display: table-cell;
  float: none;
  height: 50px;
  vertical-align: middle;
}
.envelope03 {
	color: #2e2b27 !important;
	font-size: 25px !important;
	margin: 0 0 3px 0;
}
.mobile05 {
	color: #2e2b27 !important;
	font-size: 32px !important;
}
.email-comnic-out3 h4 
{
  color: #2e2b27;
  font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
  font-size: 12px;
  margin: 2px 0 0;
}

.email2-detail-right {
	border: 2px solid #ccd628;
	border-radius: 6px;
	color: #2e2b28;
	float: left;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 18px;
	line-height: 22px;
	margin: 10px 0 0;
	padding: 16px 28px;
	width: 78%;
	display: none;
}
.Communications-section2  a:hover .email2-detail-right
{
	display:block;
} 

/* =========================== Communications PAGE END================================= */


/* =========================== Campaign Donation PAGE start============================= */
.compaign-donation-out
{
	
}

.compaign-donation-out .monthly-support-left p span {
	color: #ccd628;
	display: block;
	font-size: 15px;
	/* font-weight: 600; */
	margin-bottom: 10px;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
}

/* .card-number06margin
{
	margin-bottom:20px;
} */
.compaign-donation-out .monthly-form-main 
{
  padding: 30px 0 0;
}

.circle-cvc {
  color: #2e2b28 !important;
  float: right;
  font-size: 18px !important;
  margin: 4px 11px 0 0;
  cursor: pointer;
}
.circle-cvc:hover
{
	color: #ccd629 !important;
}
.compaign-donation-out .monthly-support-left h5 {
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	font-size: 19px;
	font-weight: 600;
	line-height: 25px;
	margin: 0 0 10px 0;
	text-align: left;
	text-transform: capitalize;
}
.stripe2-img {
  margin-left: 10px;
  width: 70px;
  margin-bottom: -13px ;
}
.outer_right_campaign {
 min-height: 813px;
 background: #f7f7f7 url(../images/compaign-bg-bottom.jpg) no-repeat left bottom / 100% auto;
}
.compaign-donation-right {
	float: left;
	width: 586px;
	height: 100%;
	padding: 70px 0 30px 127px;
}

.compaign-donation-right h2 {
  color: #2e2b28;
  font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
  font-size: 33px;
  line-height: 35px;
  margin: 0 0 25px;
  padding: 0 0 25px;
  position: relative;
}

.compaign-donation-right h2::before {
	background: #c4d40f;
	bottom: 0;
	content: "";
	height: 3px;
	position: absolute;
	width: 63px;
}

.compaign-donation-right ul
{
	float:left;
	width:100%;
	border:2px solid #2e2b28;
	border-radius:6px;
	padding:0px;
	margin:0px;
}
.compaign-donation-right li {
	float: left;
	width: 100%;
	padding: 22px 30px;
	border-bottom: 2px dashed #2e2b28;
}
.compaign-donation-right li:last-child
{
	border-bottom:none;
}
.compaign-donation-right li samp {
	color: #2e2b27;
	float: left;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	font-size: 21px;
	font-weight: 900;
	text-transform: capitalize;
	width: 30%;
}
.compaign-donation-right li p {
	color: #ccd628;
	float: left;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	font-size: 21px;
	font-weight: 900;
	text-transform: capitalize;
	width: 70%;
}

.gift-add-submit-agree-button {
	border: 0 none;
	border-radius: 40px;
	float: left;
	font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
	font-size: 19px;
	margin: 30px 0 0;
	padding: 15px 30px 15px 20px;
	text-transform: uppercase;
	transition: all 1s ease 0s;
	width: 100%;
	outline: none;
	background-color:#ccd628;
	background-image: url(../images/earo.png);
	background-position: 350px center;
	background-size: 10px auto;
	background-repeat:no-repeat;
}
.compaign-donation-right .gift-add-submit-agree-button {
 border: 0 none;
 border-radius: 40px;
 float: left;
 font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
 font-size: 21px;
 margin: 42px 0 30px 0;
 padding: 15px 30px 15px 20px;
 text-transform: uppercase;
 transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
   -moz-transition: all 1s ease 0s;
 width: 218px;
 outline: none;
 background-color: #ccd628;
 background-image: url(../images/earo.png);
 background-position: 180px center;
 background-size: 10px auto;
 background-repeat:no-repeat;
}
.compaign-donation-right .gift-add-submit-agree-button:hover { 
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
   -moz-transition: all 1s ease 0s;
  background-color: #e3eb64;
 background-image: url(../images/earo.png);
 background-position: 190px center;
 background-size: 10px auto;
}
.compaign-donation-right p {
	color: #a2a2a2;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 14px;
	line-height: 25px;
	margin: 0;
	text-align: left;
	float: left;
}
.compaign-donation-right p strong
{
	font-weight:bold;
	color:#2e2b27;
}

/* =========================== Campaign Donation PAGE END=============================== */
/*index-slider*/

.carousel-control.left {
	background-image:none;
	background-repeat: repeat-x;
}
.carousel-control.right {
	right: 0;
	left: auto;
	background-image:none;
	background-repeat: repeat-x;
}

.left.carousel-control {
	opacity: 1;
	bottom: -70px !important;
	position:absolute;
	/*background:url(../images/testmnial-left.png) center top no-repeat !important;*/
	height:44px;
	width:44px;
	top:auto;
	left:46%;
}
.right.carousel-control {
	opacity: 1;
	bottom: -70px !important;
	position:absolute;
	/*background:url(../images/testmnial-right.png) center top no-repeat !important;*/
	height:44px;
	width:44px;
	top:auto;
	right:46%;
}
.testmonial_outer .left .glyphicon-chevron-left
{
	position:relative;
	top:auto;
	right:auto;
	font-size:0;
	margin:0;
	height:44px;
	width:44px;
	
}
.testmonial_outer .right .glyphicon-chevron-right
{
	position:relative;
	top:auto;
	right:auto;
	font-size:0;
	margin:0;
	height:44px;
	width:44px;
}

.glyphicon {
	width: 43px;
	height: 43px;
	border-radius: 50%;
	border: 2px solid #181715;
	color: #181715 !important;
	line-height: 37px;
	font-size: 30px !important;
	text-align: center;
}
.glyphicon:hover
{
	background:#181715;
	color:#fff !important;
}
.glyphicon .fa.fa-angle-left {
	padding: 0 3px 0 0px;
}
.glyphicon .fa.fa-angle-right
{
	padding: 0 0px 0 3px;
}
.monetising_inn a {
	position: absolute;
	bottom: 0 background:#fff;
	border: 2px solid #dedede;
	border-radius: 30px;
	color: #d3d3d3;
	font-size: 20px;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	padding: 14px 32px 14px 38px;
	width: 193px;
	left: 38%;
	transition: all 1s ease 0s;
	top: 0;
}
.monetising_inn a .fa.fa-angle-right {
	font-size: 21px;
	padding: 0px 0 0 20px;
	float: right;
	vertical-align: top;
}
.monetising_inn a:hover
{
	background:#ccd628;
	border: 2px solid #ccd628;
	color:#fff;
}
.benefits_inner_dis_no02
{
	display:none;
}

.search_headr_top {
	padding: 3px 0px;
	margin: 0px 10px 0 0px;
	position: absolute;
	right: 14px;
	top: 0px;
	z-index: 999;
	width: 0%;
	opacity:0;
	overflow:hidden;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
}

.open_div{
	width:83%!important;
	padding:3px 10px!important;
	border: 1px solid #808080;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	opacity:1;
	overflow:visible;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
}
/*index-slider-end*/

/*campaigns*/

.content{
	overflow: auto;
	position: relative;
	padding: 20px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.content.hidden{ display: none; }

.content.light{
	background-color: #ddd;
	color: #333;
}
.setting_left.campaigns_top_out.content.mCustomScrollbar
{
	padding-right:0 !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
}

.scroal_padding {
	padding: 47px 90px 39px 0 !important;
	float: left;
	width: 100%;
}

.account_menu
{
	display:none;
}
/*campaigns-end*/


/*homeless_in_dublin_Starts*/

.dublin_outer
{
 float:left;
 width:100%;
 background:#f7f7f7 url(../images/compaign-bg-bottom.jpg) center bottom no-repeat;
 background-size: 100% auto;
}

.inner_content_outer {
 background: #fff;
 margin: 60px 0;
 border:2px solid #efefef;
 -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.middle_content
{
 margin:auto;
 width:550px;
}

.thanks_supporting {
 font-size: 17px;
 line-height: 20px;
 color: #b2b1b0;
 margin: 40px 0 8px 0;
 text-align: center;
 font-family: 'Conv_AvenirNextLTPro-Regular';
}

.inner_content_outer h2 {
 color: #c9d41e;
 font-size: 26px;
 line-height:32px;
 text-align:center;
 font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
}

.dollor_to_people {
 color: #2e2b28;
 font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
 font-size: 32px;
 line-height: 40px;
 text-align:center;
 margin: 6px 0 40px 0;
 padding: 0;
}

.dublin_img {
 text-align:center;
}

.dublin_image_outer {
 display:inline-block;
 width:350px;
 border: 2px solid #efefef;
 -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.dublin_image_outer img {
 float:left;
 width:100%;
}

.help_more {
 text-align:center;
 margin: 40px 0 0 0;
}

.help_more h5 {
 font-size: 18px;
 line-height: 20px;
 color: #2e2b28;
 font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
}

.media_share_outer {
 display:inline-block;
 margin:20px 0 0 0;
}

.single_icon {
 float:left;
 margin:0 8px;
}

.single_icon a {
 float:none;
 display:table-cell;
 vertical-align:middle;
 width:60px;
 height:60px; 
 background:#3b5999;
 -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}

.facebk a {
 background:#3b5999;
}

.twitt a {
 background:#55acef;
}

.single_icon a .fa {
 color:#fff;
 font-size:31px;
}

.copy_link a {
 background:#4dc247;
}

.copy_link a {
 color: #fff;
 text-transform: uppercase;
 font-size: 11px;
 line-height: 14px;
 font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
}

.outer_two_buttons {
 margin:30px 0 0 0;
 padding: 18px 0;
 text-align:center;
 background:#f9f9f9;
 border-top:2px solid #efefef;
}

.done_button {
 display:inline-block;
}

.done_button a {
 border-radius: 25px;
 float: left;
 width: 215px;
 color: #3c3934;
 font-family: 'Conv_AvenirNextLTPro-Demi_0';
 font-size: 21px;
 padding: 15px 20px;
 background: #ccd629;
 text-transform: uppercase;
}

.no_thanks {
 float: left;
 width: 100%;
 position: relative;
}
.no_thanks a {
 position: absolute;
 right: 30px;
 top: -20px;
 text-decoration: none;
 color: #c9c8c7;
 font-size: 12px;
 text-transform: uppercase;
 font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
}
.times04 {
	color: #2e2b28 !important;
	font-size: 13px !important;
	margin: 0 0 0 5px;
}
.no_thanks a:hover {
 color:#3c3934;
}
.no_thanks a:hover .times04 {
 color:#3c3934 !important;
}

/*homeless_in_dublin_Ends*/


/*login-popup*/
.popup-out
{
text-align:center;
padding:36px 0 39px 0 !important;
}
.popup-out h2 {
	font-size: 20px;
	color: #413c44;
	font-family: 'Conv_AvenirNextLTPro-Bold_0';
	font-weight: 700;
}
.popup-out ul
{
text-align:center;
padding:24px 0;
}
.popup-out li {
	display: inline-block;
	border-radius: 50%;
	border: 3px solid #000;
	font-size: 11px;
	color: #413c44;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	width: 90px;
	height: 90px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px 0 0;
	margin: 0px 6px;
}
.popup-out li a {
	color: #413c44;
	text-decoration: none !important;
	display: block;
	height: 87px;
	border-radius: 50%;
	width: 100%;
	/* float: left; */
	padding: 17px 0 0 0;
}
.popup-out li a:hover
{
color: #ccd629;
}
.popup-out li:hover 
{
color: #ccd629;
border-color: #ccd629;
border-radius:70px;
}
.popup-out li a i {
	display: block;
	font-size: 32px;
	padding: 0 0 4px 0;
}
.popup-out h3 {
	font-size: 16px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Bold_0';
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 0 24px 0;
}
.popup-out h3 span
{
padding:0 0 0 7px;
}
.sub-m-btn {
	border-radius: 70px;
	background-color: #ccd629;
	font-family: 'Conv_AvenirNextLTPro-Bold_0';
	font-size: 20px;
	border: none;
	width: 50%;
	text-align: center;
	line-height: 51px;
	color: #2d2928;
}
/*achive-popup*/
.popup-achive
{
padding:43px 0;
}
.popup-achive p {
	font-size: 25px;
	color: #413c44;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-weight: normal;
	padding: 32px 64px !important;
	line-height: 30px;
}
.popup-achive p strong {
	font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
}
.popup-achive p span {
	font-weight: 800;
	color: #ccd73c;
	font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
}
 
.popup-list 
{
background-color:#f5f5f5;
border:1px dashed #e8e8e8;
padding:32px 64px !important;
}
.popup-list ul
{
list-style:none;
}
.popup-list li {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-weight: 400;
	font-size: 27px;
	color: #4b4a48;
	background: url(../images/img-pop-left-a.png) no-repeat left 5px;
	padding: 0 0 12px 37px;
	line-height: 29px;
}
.popup-list li span {
	color: #ccd84b;
	font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
}
.popup-share
{
padding:32px 64px !important;
}
.popup-share h5 {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-weight: 400;
	font-size: 22px;
	color: #4b4a48;
	padding: 0 0 0px 0;
	font-style: italic;
}
.popup-share h5 span
{
	font-family:"Conv_AVENIRNEXTLTPRO-BOLD_0";
}
.cen
{
 text-align:center;
}
.popup-black
{
 position:fixed;
 top:0;
 width:100%;
 height:100%;
 background:rgba(0, 0, 0, 0.7);
 z-index:99;
}
.show-popup
{
 position:fixed;
 left: 50%;
 top: 50%;
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 background:#fff;
 width:488px;
 z-index:999;
 border-radius:7px;
 -webkit-border-radius:7px;
 -moz-border-radius:7px;
}
.close {
 position: absolute;
 right: -20px;
 z-index: 9;
 top: -21px;
 z-index: 99;
 opacity:1;
}
.close:hover
{
 opacity:1;
}

/*achive-popup-end*/

/*signup page start*/
.wc_signup_outer {
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 100%);
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

 position: relative;
}
.wc_signup_outer:after {
 position: absolute;
 content: "";
 top:0;
 left:0;
 height:100%;
 width:100%;
 background: url(../images/signup-bg.png);
 background-repeat:no-repeat;
 background-position: bottom center;
}
.wc_signup_inner {
  font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
  padding: 52px 0 71px;
  position: relative;
  z-index: 999;
}
.wc_signup_inner a {
	color: #ccd629;
	font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
	font-size: 14px;
}
.wc_signup_inner > h2 {
 font-size: 21px;
 line-height: 25px;
 text-align: center;
 color: #2e2b28;
 font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
}
.wc_login_msg {
 font-family: 'Conv_AvenirNextLTPro-Regular';
 position: absolute;
 right: 0;
 top: 53px;
}
.wc_login_msg p {
 font-size: 15px;
}
.wc_login_msg a {
 color: #beca00;
 font-weight: bold;
 text-decoration: underline;
}
.wc_signup_cntnt {
	margin: 43px auto auto;
	width: 542px;
	background: #fff;
}
.wc_signup_cntnt .ui-tabs-nav {
 display: inline-block;
 width: 100%;
 vertical-align: top;
}
.wc_signup_cntnt .ui-tabs.ui-widget-content li {
 float: left;
 margin: 0 9px 8px 0;
 font-family: 'Conv_AvenirNextLTPro-Demi_0';
 font-size: 19px;
}
.wc_signup_cntnt .ui-tabs.ui-widget-content li:last-child {
 margin-right: auto;
}
.wc_signup_cntnt .ui-tabs.ui-widget-content li a {
  border: 2px solid #4b4946;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-block;
  padding: 6px 19px 6px 12px;
  vertical-align: top;
  line-height: 34px;
  color: #100d09;
  width: 100%;
}
.wc_signup_cntnt .ui-tabs.ui-widget-content li a:hover,.wc_signup_cntnt .ui-tabs.ui-widget-content li a:focus {
 text-decoration: none;
}
.wc_signup_cntnt .ui-tabs-panel.ui-widget-content {
  border: 2px solid #beca00;
  padding: 42px 58px;
  position: relative;
  top: -2px;
  z-index: 9;
}
.wc_signup_cntnt .ui-tabs.ui-widget-content li a span {
	border: 2px solid #080501;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	display: inline-block;
	height: 34px;
	padding-top: 7px;
	text-align: center;
	vertical-align: top;
	width: 34px;
	margin-right: 11px;
	line-height: 18px;
	font-size: 16px;
}
.ui-tabs-panel h3 {
	color: #262320;
	font-size: 19px;
	margin-bottom: 13px;
	text-transform: capitalize;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
}
.ui-tabs-panel p {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 16px;
	margin: 0 0 22px;
	line-height: 22px;
}
.ui-tabs-panel p span {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	font-size: 16px;
	font-style: italic;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	line-height: 28px;
}
.ui-tabs-panel input, .ui-tabs-panel select, .ui-tabs-panel button {
	border: 2px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 14px 22px;
	font-size: 14px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}
.ui-tabs-panel select {
 padding: 9px 28px !important;
}
.ui-tabs-panel input#email_add {
 margin: 0 0 40px;
 font-family: 'Conv_AvenirNextLTPro-Regular';
 font-size: 16px;
 outline:none;
} 
.wc_signup_cntnt .ui-tabs.ui-widget-content li.ui-state-active {
  background: #fff;
  margin-bottom: 0;
  position: relative;
  z-index: 999;
  outline:none;
}
.wc_signup_cntnt .ui-tabs.ui-widget-content li.ui-tabs-active.ui-state-active a {
  border-bottom: 0 none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #beca00;
  color: #beca00;
  min-height: 58px;
  outline:none;
}
.wc_signup_cntnt .ui-tabs.ui-widget-content li.ui-tabs-active.ui-state-active a span {
 border-color: #beca00;
}
.wc_form_field_outer {
  display: inline-block;
  margin: 0 0 28px;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.wc_form_field_outer label {
 display: inline-block;
 font-size: 18px;
 margin-bottom: 13px;
 text-transform: capitalize;
 vertical-align: top;
 width: 100%;
 font-family: 'Conv_AvenirNextLTPro-Demi_0';
}
.wc_form_field_outer:nth-child(1), .wc_form_field_outer:nth-child(2) {
  display: inline-block;
  vertical-align: top;
  width: 46.9%;
}
.wc_form_field_outer:nth-child(1) {
  margin-right: 15px;
}
.ui-tabs-panel .wc_form_field_outer > p, .ui-tabs-panel .wc_form_field_outer > p span {
	font-size: 13px;
	font-style: normal;
	margin: 16px 0 0;
	width: auto;
	line-height: normal;
}
.ui-tabs-panel .wc_form_field_outer > p span {
 margin: auto;
 color: #ccd629;
}
.wc_form_field_outer input[type="email"] {
  background: url(../images/check-sign.png) no-repeat;
  background-position: 95% center;
}
.showhide_pass {
	color: #000 !important;
	font-size: 14px;
	position: absolute;
	right: 17px;
	text-transform: uppercase;
	top: 47px;
}
.wc_pass_strenth {
  margin: 37px 0 0;
}
.wc_pass_strenth h4 {
	font-size: 18px;
	font-weight: normal;
	color: #d9d9d9;
	margin: 0 0 12px;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
}
.wc_pass_strenth h4 span {
	margin-left: 31px;
	color: #ccd629;
	font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
}
.wc_pass_strenth img {
 width: 100%;
 display: block;
}
.wc_form_field_outer:last-of-type {
  margin: 17px 0 0;
}
.wc_form_field_outer button {
 background-color: #ccd629;
 border-color: #ccd629;
 border-radius: 50px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 font-size: 20px;
 text-transform: uppercase;
 font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
}
.wc_form_field_outer button .fa {
 display: inline-block;
 font-size: 29px;
 line-height: 17px;
 margin-left: 22px;
 vertical-align: top;
}
.wc_signup_cntnt .ui-tabs.ui-widget {
  margin-bottom: 35px;
}
.wc_signup_footer {
 text-align: center;
}
#tabs-2 .wc_form_field_outer:nth-child(1), #tabs-2 .wc_form_field_outer:nth-child(2) {
  margin-right: 0;
  width: 100%;
}
.ui-tabs-panel select {
  background: url(../images/Chevron_small_right-2.png) no-repeat;
  background-position: 93% center;
  cursor: pointer;
}
.ui-tabs-panel select option {
  padding: 7px;
}
.wc_footer_strip {
 background: #ccd629;
 text-align: center;
}
.wc_footer_strip_inner {
 padding: 14px 0;
 color: #fff;
 font-family: sans-serif;
  font-weight: bold;
}
.wc_footer_strip_inner p {
  font-size: 15px;
}
.wc_footer_strip_inner a {
  background: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: #000;
  display: inline-block;
  font-size: 14px;
  margin-left: 50px;
  padding: 10px 26px;
  vertical-align: middle;
}
.wc_footer_strip_inner a:hover {
 text-decoration: none;
 background: #edebeb;
}
/*signup page end*/


.prices_inn p {
	font-size: 15px;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
}
.monthly-support-out .footer_right li
{
	color: #2e2b28;
}
.out-copyright .footer_inner {
	padding: 28px 0 !important;
}
.fcb-bt span {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-weight: normal;
}
.monthly-support-right
{
 background:url( ../images/monthly-support-img.jpg) center top no-repeat;
 
}
.monthly-support-outer {
	display: -webkit-box;
	display: flex;
}

.monthly-support-right.compaign-donation-right {
	background-image: none;
}
.wc_signup_footer p {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 14px;
}
.campaign_title_inner input::-webkit-input-placeholder, .campaign_title_inner textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2e2b28;
  opacity:1;
}
.campaign_title_inner input::-moz-placeholder, .campaign_title_inner textarea::-moz-placeholder { /* Firefox 19+ */
  color: #2e2b28;
  opacity:1;
}
.campaign_title_inner input:-ms-input-placeholder, .campaign_title_inner textarea::-ms-input-placeholder { /* IE 10+ */
  color: #2e2b28;
  opacity:1;
}
.campaign_title_inner input:-moz-placeholder, .campaign_title_inner textarea::-moz-placeholder { /* Firefox 18- */
  color: #2e2b28;
  opacity:1;
}
.box_check_txt label {
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 14px;
}

.show-popup.dashbard-popup {
	width: 571px;
}

.dashbard-popup .single_icon a {
	width: 50px;
	height: 50px;
}
.dashbard-popup .single_icon a .fa {
	font-size: 24px;
}
.dashbard-popup .copy_link a {
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 13px;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
}

.login_detail_outer
{
	background:url(../images/compaign-bg-bottom2.jpg) center top no-repeat;
	background-size: 100% auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   .wc_signup_cntnt .ui-tabs.ui-widget-content li {
	margin: 0 10.25px 8px 0;
}
   ::i-block-chrome,.wc_signup_cntnt .ui-tabs.ui-widget-content li {
	margin: 0 9px 8px 0;
}

}


.setting_out_cl {
	background: url(../images/compaign-bg-bottom2.jpg) right top no-repeat;
	background-size: 61% 67%;
	background-position: 128% top;
}

.mobile_destop_outer a:hover {
	background: #2e2b28;
	color: #fff;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
.mobile_side02 {
	float: right !important;
	margin: 0 !important;
}

.start_center_out
{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width:320px;
}

.analytics_bg
{
	background:url(../images/compaign-bg-bottom3.jpg) center top no-repeat;
	background-size:100% auto;
}

.showhide_pass02 {
	position: absolute;
	right: 17px;
	top: 42px;
}

/*10-mar*/

.monthly-support-left_poup h3
{
	font-size:30px;
	color:#d5db35;
	margin:0;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	padding:0 0 20px;
	margin-bottom: 23px;
	position:relative;
}
.monthly-support-left_poup h3:before
{
	content:"";
	position:absolute;
	left:0;
	width:60px;
	background:#fff;
	bottom:0;
	height:3px;
}
.monthly-support-left_poup .monthly-support-left p {
	color: #fff;
	padding:0px 0 29px;
}
.monthly-support-left_poup .monthly-form-main label {
	color: #fff;
}
.monthly-support-left_poup .slect-gender-out {
	background: #fff url(../images/slect-bg2.png) 89% 21px no-repeat;
	border: 2px solid #a7a5a3;
	border-radius: 4px;
	color: #a7a5a3;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-size: 18px;
	padding: 13px 30px !important;
	width: 100%;
	margin: 15px 0 25px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}
.monthly-support-left_poup .monthly-form-field2 {
	color: #a7a5a3;
	border: 2px solid #a7a5a3;
	background:#fff;
	font-size:14px;
}
.monthly-support-left_poup .no-thanks3 a {
	text-decoration: none;
	color: #fff;
}
.monthly-support-left_poup .no-thanks3 a:hover
{
	color:#ccd629;
}
.monthly-support-left_poup .times04 {
	color: #fff !important;
	font-size: 13px !important;
	margin: 0 0 0 5px;
}

input[type="radio"] + label span.orange02{
    display:inline-block;
    width:28px;
    height:24px;
    margin:1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/radio-button3.png) left top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span.orange02{
    background:url(../images/radio-button4.png) left top no-repeat;
}
.monthly-support-left_poup {
	float: left;
	padding: 0 0 0 120px;
	width: 100%;
}
.monthly-support-left_poup .monthly-support-left
{
	float:left;
	margin:0;
}
/*10-mar-end*/



/*10march-Starts*/

.outer_desktop_support {
	background:#2a2825;
	border:2px solid #2a2825;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.top_dots_outer {
	padding: 10px 0;
}

.top_dots_outer {
	background:#fff;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.top_dots_outer .banner_inner_top {
	width: auto;
	border: none;
}

.top_dots_outer .banner_inner_top ul {
	margin-top: 4px;
}

.dot_right_part {
	float:left;
	width:76%;
	height:36px;
	background:#f0f0f0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.payment_side {
	text-align: left;
	padding: 0;
}

.payment_and_img_outer {
	padding:25px 0 20px;
}

.payment_side h4 {
	font-size: 28px;
	color: #ccd628;
	margin: 0;
	padding: 0 0 0 15px;
	line-height: 25px;
	font-weight: 500;
	text-transform:uppercase;
	font-family: 'Conv_DINBold';
}

.show_margin {
	margin: 0 0 0 7px !important;
}

.payment_side h4 span {
	color:#fff;
}

.feed_homeless {
	margin: 10px 0;
	padding:5px 0 10px 16px;
	background:#201f1e;
}

.feed_homeless h5 {
	color: #ccd628;
	font-size: 20px;
	line-height:22px;
	font-family: 'Conv_DINBold';
}

.feed_homeless p {
	color: #fff;
	font-size: 11px;
	line-height: 12px;
	margin: 5px 0 0 0;
	text-transform: uppercase;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}

.feed_homeless p span {
	font-family: 'Conv_DINBold';
	font-size: 11px;
}

.paypal_creadit_outer {
	padding: 0 16px;
}

.paypal_creadit_outer p {
	color: #fff;
	font-size: 13px;
	line-height: 18px;
	margin:0 0 20px 0;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}

.paypal_radio {
	border-bottom:1px solid #8e8e8e;
}

.paypal_radio .box_check_txt {
	padding: 0 0 10px 0;
}

.paypal_radio .box_check_txt label {
	color: #fff;
	font-size: 15px;
	line-height: 16px;
	margin: 3px 0 0 0;
}

.paypal_radio .box_check_txt label span {
	font-size: 12px;
}

.payment_support_outer {
	float:right;
}

.payment_support_outer img {
	float: left;
	margin: 0 0 0 5px;
	width: 52px !important;
}

.paypal_radio.credit.cards {
	margin: 9px 0 0 0;
}

.paypal_radio.credit.cards {
	border: none;
}

.paypal_radio.credit cards .box_check_txt {
	padding: 0;
}

.paypal_credit_button {
	margin:15px 0 0 0;
}

.paypal_credit_button input {
	float: left;
	width: 100%;
	border: none;
	font-size: 19px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	padding: 14px 0 12px;
	border-radius: 40px;
	background: #ccd629;
	text-transform:uppercase;
}

.support_different {
	margin:15px 0 0 0;
}

.another_ammount {
	float:left;
}

.another_ammount a {
	float:left;
	color:#fff;
	padding: 0;
	font-size:10px;
	line-height:14px;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-weight: normal;
}

.are_charity {
	float:right;
}

.are_charity a {
	float:right;
	color:#fff;
	padding: 0;
	font-size:10px;
	line-height:14px;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-weight: normal;
}

.payment_right_img_side {
	padding: 0 15px 0 0;
}

.outer_volunteer_child {
	float:left;
	width:100%;
	padding:3px;
	background:#fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.outer_volunteer_child img {
	float:left;
	width:100%;
}

.pound_under_img {
	color: #000;
	font-size: 21px;
	line-height: 16px;
	padding:5px 0 !important;
	font-family: 'Conv_DINBold';
}

.for_non_profits {
	font-size: 17px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-style: italic;
	line-height: 26px;
	display: inline-block;
	margin: 66px 0 0 0;
}

.donation_pound {
	font-size: 14px;
	line-height:18px;
	color: #fff;
	padding: 12px 16px;
	text-align: left;
	background:#201f1e;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}

.fund_transparency_outer {
	text-align: left;
	padding: 12px 16px 22px;
}

.use_fund {
	float:left;
	width:30%;
	padding: 0 15px 0 0;
}

.use_fund h5 {
	font-size: 15px;
	color: #fff;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin: 0 0 5px 0;
}

.use_fund p {
	font-size: 14px;
	line-height:18px;
	color: #fff;
	padding: 0;
	text-align: left;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}

.transparency {
	float:left;
	width:70%;
}

.transparency h5 {
	font-size: 15px;
	color: #fff;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin: 0 0 5px 0;
}

.transparency p {
	font-size: 14px;
	line-height:18px;
	color: #fff;
	padding: 0;
	text-align: left;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}

/*10march-Ends*/

/*10march-Starts*/

.outer_mobile_support {
	text-align:center;
}
.outer_mob_phone {
	margin:auto;
	width:324px;
	height:640px;
	padding:66px 14px 85px 16px;
	background:url(../images/iphone5_img.png) center top no-repeat;
}

.cont_mob_content {
	height:490px;
	padding: 10px !important;
	background:#2a2825;
}

.mob_homeless {
	float: left;
	width: 293px;
	position: relative;
	left: -10px;
	margin: 5px 0 0 0;
	background: #201f1e;
}

.mob_homeless .feed_homeless {
	margin: 0;
	padding: 5px 0 8px 10px;
	text-align: left;
}

.mob_homeless .feed_homeless h5 {
	font-size: 13px;
	line-height: 14px;
}

.mob_show img {
	float: right;
	margin: 7px 0 0 0;
}

.cont_mob_content .paypal_creadit_outer {
	padding: 5px 0 0 0;
	text-align: left;
}

.cont_mob_content .paypal_creadit_outer p {
	margin: 0 0 10px 0;
}

.cont_mob_content .paypal_radio .box_check_txt {
	padding: 0 0 6px 0;
}

.cont_mob_content .paypal_radio.credit.cards {
	margin: 4px 0 0 0;
}

.cont_mob_content .payment_support_outer img {
	width: 42px;
}

.cont_mob_content .paypal_credit_button {
	margin: 5px 0 0 0;
}

.cont_mob_content .support_different {
	margin: 7px 0 0 0;
	text-align: center;
}

.cont_mob_content .are_charity {
	float: none;
	display: inline-block;
}

.current
{
	background:#2e2b28;
	border-radius:30px;
	color:#fff !important;
}

/*10march-Ends*/

.mobile_img_dis
{
	display:none;
}

/*march-15*/

.on-cl-show {
	z-index: 999;
	position: relative;
}
.on-cl-show .scroal_padding {
	padding: 20px 0 0 !important;
}

/*march-15-end*/

.show .formfield_select_img
{
	display:block !important;
}


/*production-detail*/

.production_detail_inner {
	width: 860px;
	margin: auto;
}
.production_detail_outer {
	padding: 40px 0 40px !important;
}

.production_detail_outer .payment_right_img_side {
	padding: 0 32px 0 0;
}
.production_detail_logo img
{
	width:190px;
}
.production_detail_logo {
	padding: 0 0 0 32px;
}
.production_detail_outer .feed_homeless {
	margin: 13px 0;
	padding: 5px 0 10px 32px;
	background: #201f1e;
}
.production_detail_outer .feed_homeless h5 {
	color: #ccd628;
	font-size: 24px;
	line-height: 25px;
	font-family: 'Conv_DINBold';
}
.production_detail_outer .feed_homeless p span {
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	font-size: 11px;
}
.production_detail_outer .paypal_creadit_outer p {
	color: #c0bfbe;
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 20px 0;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}
.production_detail_outer .paypal_radio .box_check_txt label strong
{
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
}
.production_detail_outer .paypal_creadit_outer {
	padding: 0 50px 0 32px;
}

.production_detail_outer .for_non_profits {
	font-size: 21px;
	color: #fff;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	font-style: italic;
	line-height: 27px;
	display: inline-block;
	margin: 16px 0 0 0;
	text-align: center;
}
.production_detail_outer .paypal_credit_button {
	margin: 50px 0 0 0;
}
.production_img {
	padding: 13px 0 0 !important;
	text-align:center;
}
.production_img img
{
	width:100%;
}
.production_detail_outer .another_ammount a {
	float: left;
	color: #fff;
	padding: 0;
	font-size: 12px;
	line-height: 14px;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
}
.production_detail_outer .another_ammount a span {
	padding: 0 0 0 5px;
}
.production_detail_outer .are_charity a {
	float: right;
	color: #fff;
	padding: 0;
	font-size: 12px;
	line-height: 14px;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
}
.production_detail_outer .donation_pound {
	font-size: 13px;
	line-height: 18px;
	color: #c0bfbe;
	padding: 12px 32px;
	text-align: left;
	background: #201f1e;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}
.production_detail_outer .fund_transparency_outer {
	text-align: left;
	padding: 24px 32px 24px;
}
.production_detail_outer .use_fund p {
	font-size: 14px;
	line-height: 18px;
	color: #c0bfbe;
	padding: 0;
	text-align: left;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}
.production_detail_outer .transparency p {
	font-size: 14px;
	line-height: 18px;
	color: #c0bfbe;
	padding: 0;
	text-align: left;
	font-family: 'Conv_AvenirNextLTPro-Regular';
}
.production_detail_outer .pound_under_img {
	color: #2e2b27;
	font-size: 28px;
	line-height: 16px;
	padding: 10px 0 !important;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	text-align: center;
}
/*production-detail-end*/


.show_login_spna {
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	font-size: 19px;
	color: #2b2927;
	position: absolute;
	top: 97px;
	right: 18px;
}
.show_login_spna a
{
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0' !important;
	font-size: 19px !important;
	color: #2b2927 !important;
	padding:0 !important;
	text-decoration:none !important;
}
.passworld {
	position: relative;
}


.testmonial_inner .carousel-indicators {
	display: none;
}

/*march-16*/
.freemium_inner.freemium_inner_two:hover
{
	border:2px solid #ccd629;
} 
.freemium_inner.freemium_inner_two:hover .freemium_inner01 {
	background: #ccd629;
}
.freemium_inner.freemium_inner_two:hover .purchase.color_change a
{
	background-color: #ccd629;
}

.freemium_inner.freemium_inner_three:hover
{
	border:2px solid #ccd629;
} 
.freemium_inner.freemium_inner_three:hover .freemium_inner01 {
	background: #ccd629;
}
.freemium_inner.freemium_inner_three:hover .purchase.color_change02 a
{
	background-color: #ccd629;
}
.single_two.funder.funder_hover  {
	background: #ccd629;
}

.single_two.funder01.funder_hover {
	background: #ccd629;
}


.dis_none
{
	display:none;
}
.production_back_img
{
	background:url(../images/compaign-bg-bottom2.jpg) center top no-repeat;
	background-size: 100% auto;
}

.strength_out
{
	float:left;
	width:100%;
	text-align:center;
}
.strength_out li {
	width: 23.4%;
	display: inline-block;
	height: 8px;
	background: #ccd629;
	margin: 0 6px 8px 0 !important;
}
.strength_out_color
{
	background:#efefef !important;
	border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
}
.strength_out_color01
{
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.strength_out_color02 {
	border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
}
.strength_out_color03
{
	border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
}
.show_toltip {
	display: none;
	background: #fff;
	border: 1px solid #c1c1c1;
	width: 200px;
	padding: 10px 10px;
	text-align: center;
	position: absolute;
	right: -80px;
	top: 31px;
	z-index: 99;
}
.show_toltip span
{
	font-size:12px;
	color:#595654;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	line-height:16px;
}
.show_toltip::before {
	content: "";
	position: absolute;
	background: url(../images/top-img.png) center top no-repeat;
	height: 20px;
	width: 20px;
	top: -8px;
	left: 45%;
}

/*march-16-end*/

.login_right {
	float: right;
	vertical-align: top;
	width: 176px;
}

/*20-march*/

.single_five.single_five02.funder_hover .fa.fa-check
{
	color:#ccd629;
}
.single_five.funder_hover .fa.fa-times {
	color: #ccd629;
}
.single_five.single_five03.funder_hover .fa.fa-check{
	color: #ccd629;
}
.show_mobile_screen {
	display: none;
}
.outer_mob_phone_o2 {
	width: 100%;
	float: left;
}
.drop_down_show
{
	display:none;
}
.account_inner a:hover .drop_down_show {
	display: block;
	position: absolute;
	background: #2e2b28;
	padding: 10px 20px;
	left: -19px;
	top: 19px;
	width: 120px;
	z-index: 99;
}
.dropdown-menu.drop_down_setting {
	width: 100%;
}
.dropdown-menu.drop_down_setting li {
	margin: 0 !important;
	width: 100%;
	float: left;
	text-align: center;
}
.dropdown-menu.drop_down_setting li a
{
	padding:5px 0 !important;
	border:none !important;
}
.dropdown-menu.drop_down_setting li a:hover
{
	border-radius:0 !important;
}
.dropdown-menu.drop_down_setting li::before
{
	display:none;
}
.freemium_inner:hover
{
	border:2px solid #ccd629;
}
.freemium_inner:hover .freemium_inner01 {
	background: #ccd629;
}
.freemium_inner:hover .purchase a {
	background-color:#ccd629;
}
.freemium_inner:hover .freemium_inner_white h4
{
	color:#ccd629;
}
.single_two.freemium_inner05.funder_hover
{
	background:#ccd629;
}
.single_five.funder_hover .fa.fa-check {
	color: #ccd629;
}
.single_five.funder_hover .fa.fa-times {
	color: #ccd629;
}

.registration_fee_left.border-none {
	border: none;
}

/*20-march-end*/

/*21-march*/

.registration_fee_left_out {
	float: left;
	width: 50%;
	border: 2px solid #f0f0f0;
	border-left:none;
	position:relative;
}
.registration_fee_left_out:last-child {
	border-right:none;
}
.registration_fee_left_out.info_active {
	border-color:#ccd629;
}
.registration_fee_left_out.info_active02 {
	border-color:#ccd629;
}
.registration_fee_left_out.info_active03 {
	border-right-color:#ccd629;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span.orange{
    display:inline-block;
    width:28px;
    height:24px;
    margin:1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/chk-button.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span.orange{
    background:url(../images/chk-button2.png) left top no-repeat;
}

.replace_image.replace_image02 {
	width: 306px;
	margin: 25px 0 0;
}
.replace_image.replace_image02 a {
	font-size: 13px !important;
	color: #2e2b28 !important;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	border: 2px dashed #a9a9a9 !important;
	padding: 9px 13px 10px 13px !important;
	line-height: 20px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
	background: none !important;
	margin: 0 4px;
	float: left;
}
.replace_image.replace_image02 .fa.fa-camera {
	float: left;
	padding: 4px 5px 0 0;
	font-size: 13px;
}

.overlay_out
{
	position:fixed;
	background:rgba(0, 0, 0, 0.6);
	width:100%;
	height:100%;
	 z-index:999;
}
.upoad_videos_outer
{
	background:#fff;
	width:500px;
	position:fixed;
	left: 50%;
    top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border:1px solid #4d4d4d;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
  z-index:999;
}
.set_video
{
	background:#4d4d4d;
	padding:10px 20px;
	float:left;
	width:100%;
	font-size:20px;
	color:#fff;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
}
.upoad_videos_inner {
	padding: 10px 20px 30px;
	width: 100%;
	float: left;
}
.upoad_videos_inner02
{
	float:left;
	width:100%;
}
.select_left
{
	float:left;
}
.upoad_videos_inner02 a
{
	background:#d5dc4e;
	font-size:15px;
	color:#2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	padding:5px 20px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.select_right
{
	float:right;
}
.upoad_videos_inner p
{
	font-size:13px;
	color:#2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	margin:10px 0;
	float:left;
}
.upoad_videos_inner span
{
	font-size:20px;
	color:#2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	margin:10px 0;
	float:left;
	width:100%;
	text-align:center;
}
.upoad_videos_input
{
	float:left;
	width:100%;
}
.upoad_videos_input input
{
	border: 1px solid #4d4d4d;
	width:100%;
	height:40px;
	padding:0 20px;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	font-size:15px;
	color:#2b2e28;
}
.cancel_out
{
	float:right;
	width:100%;
	border-top: 1px solid #4d4d4d;
	padding:20px 20px;
}
.cancel_out a
{
	background:#d5dc4e;
	font-size:15px;
	color:#2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Demi_0';
	padding:5px 20px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	float:right;
	margin:0 7px;
}
/*21-march-end*/

.info_active:last-child:before
{
width:2px;
position:absolute;
left:-2px;
top:-2px;
height:148px;
content:"";
background:#ccd629;
}
.box_check_txt.active .checked_show
{
	display:block !important;
}
.reporting_code {
	border: 2px solid #383532;
	height: 47px;
	font-size: 15px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	padding: 14px 25px;
	float: left;
	width: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	resize: none;
	outline: none;
	margin-bottom: 10px;
}
.upload_logo .Add_next
{
	background-color:#2e2b28 !important;
	font-size: 14px !important;
	font-family: 'Conv_AvenirNextLTPro-Regular' !important;
	border: none;
	color: #fff;
	padding: 8px 20px 8px 20px !important;
	background-image:none !important;
	margin:40px 0 0;
	float:left;
}
.Add_next.remove_cla {
	float: right;
	margin: 10px 0 0;
	color: #fb5656 !important;
	padding: 4px 5px !important;
	display: block;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0' !important;
	font-size: 14px !important;
	line-height: normal;
	background:#fff !important;
}
.Add_next02.remove_cla02 {
	float: right;
	margin: 10px 0 0;
	color: #fb5656 !important;
	padding: 4px 5px !important;
	display: block;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0' !important;
	font-size: 14px !important;
	line-height: normal;
	background:#fff !important;
}

.remove_add textarea {
border: 2px solid #383532;
height: 47px;
font-size: 15px;
color: #2e2b28;
font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
padding: 14px 25px;
float: left;
width: 100%;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
resize: none;
outline: none;
margin:20px 0 0;
}

.datepicker02
{
	float:left;
	width:100%;
	margin:10px 0;
	position:relative;
}
.datepicker02 input {
	border: 2px solid #383532;
	height: 47px;
	font-size: 15px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	padding: 14px 25px 14px 50px;
	float: left;
	width: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	resize: none;
	outline: none;
}
.datepicker02::before {
	background: url(../images/calendar-icon.png) left top no-repeat;
	content: "";
	position: absolute;
	left: 11px;
	top: 7px;
	width: 32px;
	height: 32px;
}
.dropdown-menu.drop_down_setting a::before {
}

.account_inner .dropdown-menu.drop_down_setting a::before {
	display:none;
}
.account_inner .dropdown-menu {
	background:#2e2b28;
}
.account_inner .dropdown-menu > li > a {
	color: #fff;
}
.account_inner .dropdown-menu > li > a:hover {
	color: #fff;
	background:none;
}


/*22-march*/

.freemium_inner.funder_hover2 {
	border: 2px solid #ccd629;
}
.funder_hover2 .freemium_inner01
{
	background:#ccd629;
}

/*22-march-end*/


.single_two.funder.active, .single_two.funder01.active  {
	background: #ccd629;
}
.single_five.single_five02.active .fa.fa-check, .single_five.single_five03.active .fa.fa-check
{
	color:#ccd629;
}
.single_two.freemium_inner05.active
{
	background:#ccd629;
}
.single_five.active .fa.fa-check {
	color: #ccd629;
}
.single_five.active .fa.fa-times {
	color: #ccd629;
}
.freemium_inner.active {
	border-color:#ccd629;
}
.freemium_inner.active .freemium_inner01 {
	background: #ccd629;
}
.freemium_inner.active .freemium_inner_white h4 {
	color: #ccd629;
}
.freemium_inner.active .purchase a {
	background-color: #ccd629;
}


.production_back_img02 .production_detail_logo img {
	width: 290px;
}	

.production_back_img02 .production_detail_logo {
	text-align: left;
}


/*march-27*/

.production_img_bo
{
	float:left;
	width:100%;
	border: 2px solid #fff;
	background:#21201f;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
}
.production_img_bo_left {
	float: left;
	width: auto;
	padding: 15px 5px;
	background: #000000;
	border-radius: 10px 0px 0 10px;
	-webkit-border-radius: 10px 0px 0 10px;
	-moz-border-radius: 10px 0px 0 10px;
	-o-border-radius: 10px 0px 0 10px;
	border-right: 2px solid #fff;
}
.production_img_bo_left img
{
	width:80px;
}
.production_img_bo_right {
	float: right;
	width: 75%;
	background: #21201f;
	height: 100%;
	position: relative;
	text-align: left;
	padding: 30px 0 28px 10px;
	border-radius: 0px 10px 10px 0px;
}
.production_img_bo_right p
{
	margin:0 !important;
}



/*march-27-end*/



.mobile-show
{
	display:none;
}



/*april-1*/

.filter_outer
{
}
.filter_outer {
	float: left;
	width: 100%;
	border: 2px dashed #d3d3d3;
	text-align: center;
	position: relative;
	padding:20px 20px !important;
}

.filter_inner {
	float: left;
	width: 100%;
}
.from_date {
  float: left;
  margin: 0 8px 0 0;
  position: relative;
  width: 18.5%;
}

.from_date input {
  background:url(../images/calendar-icon.png) no-repeat 6px 5px;
  border: 2px solid #383532;
  border-radius: 4px;
  color: #2e2b28;
  float: left;
  font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
  font-size: 15px;
  height: 47px;
  outline: medium none;
  padding: 0 10px 0 45px;
  width: 100%;
}
.from_date label
{
	font-size:20px;
	color: #2e2b28;
	font-family: 'Conv_AvenirNextLTPro-Regular';
	float:left;
	width:100%;
	margin:0 0 10px;
	text-align:left;
}
/*.from_date::before {
	background: url(../images/calendar-icon.png) left top no-repeat;
	content: "";
	position: absolute;
	left: 11px;
	top: 8px;
	width: 32px;
	height: 32px;
}*/

.selectt_option_out {
  float: left;
  margin-right: 8px;
  width: 19%;
}
.selectt_option_out select {
  -moz-appearance: none;
  background: url(../images/drop-img.png) no-repeat right center;
  border: 2px solid #383532;
  border-radius: 4px;
  color: #8f8d8b;
  float: left;
  font-family: "Conv_AVENIRNEXTLTPRO-BOLD_0";
  font-size: 15px;
  height: 47px;
  outline: medium none;
  padding: 0 10px;
  width: 100%;
}
.selectt_apply_button {
	float: left;
	width: 20%;
	/* margin-top: 31px; */
}
.multiple_selection_withchkbox .multiselect-selected-text {
  color: #8f8d8b;
  float: left;
}
.selectt_apply_button input {
	display: inline-block;
	font-size: 16px;
	color: #2e2b28;
	font-family: 'Conv_AVENIRNEXTLTPRO-BOLD_0';
	background: #ccd629 !important;
	padding: 11px 25px !important;
	line-height: 22px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	transition: All 1s ease;
	-webkit-transition: All 1s ease;
	-moz-transition: All 1s ease;
	-o-transition: All 1s ease;
	background-image: none !important;
	margin: 0 3px !important;
	border: none;
}
/*april-1-end*/

/* -----------3april2017(ms)--------------- */


.multiple_selection_withchkbox input[type="checkbox"] {
  display: block;
}
.filter_outer .selectt_apply_button {
  float: right;
}
.selectt_label {
  float: left;
  text-align: left;
  width: 31px;
}
.selectt_label > label {
  color: #000;
  font-family: "Conv_AvenirNextLTPro-Regular";
  font-size: 18px;
  padding: 15px 0 0 0;
  text-align: center;
  
}
.selectt_option_out.multiple_selection_withchkbox
{
	width:18%;
}